.UserOutput {
    margin : 20px auto;
    border : 4px solid grey;
    width : 50%;
    padding : 16px;
    text-align : center;
    border-radius : 5px;
    background-color:  #fffeee;
    color : #4e44e2
}